.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  color: white;
  border-radius: 1em;
  height: fit-content;
  border: 0px;
  box-shadow: 0em 0em .5em black;
  margin: .1em;
  padding: 1em;
}

.btn.white {
  background: white;
  color: black;
}

.btn.blue {
  background: blue;
}

.btn.black {
  background: black;
}

.btn.red {
  background: red;
}

.btn.green {
  background: green;
}